body {
  font-family: "Montserrat", sans-serif;
}

ul.issue-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.issue-list li {
  display: block;
}

.issue {
  display: flex;
  align-items: center;
}

.issue.in-progress {
  background-color: #cf9b2c;
  color: white;
}

.issue.done {
  background-color: #63a5a9;
  color: white;
}

.issue.done h4 {
  text-decoration: line-through;
}

.issue.open h4 {
  font-weight: normal;
  opacity: 0.5;
}

.issue img {
  display: inline;
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.latest-complete-indicator {
  margin-left: 4px;
  animation: indicator-fade-in 2s;
}

@keyframes indicator-fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.5;
    transform: scale(5) rotate(180deg);
  }
  100% {
    opacity: 1;
    transform: rotate(369deg);
  }
}

.sub-task-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
}

.sub-task-column {
  background-color: #f4f5f7;
}
.sub-task-container {
  border: 1px solid slategray;
  /* border-left: none;
  border-right: none; */
  background: white;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 4px;

  font-size: small;
}

.loading-indicator-container {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

h4 {
  margin: 4px 0 4px 0;
}
